<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FLOSS Scale Result</title>
  </head>
  <body>
    <h1>~Results~</h1>
    <h3>Here is your result:</h3>
    <ul>
      {{#each items}}
      <li>{{name}}:{{score}}</li>
      {{/each}}
    </ul>
  </body>
</html>
